{{> header }}
<main class="main main-consultation">
    <div class="main-consultation__image">
        <picture>
            <source srcSet="images/smile-woman.avif" type="image/avif" />
            <source srcset="images/smile-woman.webp" type="image/webp">
            <img src="images/smile-woman.png" alt="описание" />
        </picture>
    </div>
    <div class="main-consultation__btn">

        <a class="callBtn" href="#">
            <span class="callBtn__icon">
                <svg viewBox="0 0 39 39" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.9308 0C22.7094 0.203558 23.4945 0.385457 24.2656 0.614376C27.8579 1.68085 30.9192 3.60834 33.4982 6.31968C35.6007 8.53006 37.1479 11.0788 38.1281 13.9597C38.4608 14.9377 38.6577 15.9617 38.918 16.9644C38.9399 17.0487 38.9723 17.1303 38.9998 17.2131V17.5939C38.9826 17.6119 38.9582 17.6268 38.9493 17.6482C38.7099 18.2279 38.2986 18.5384 37.8246 18.4952C37.2308 18.4411 36.8452 18.0828 36.7238 17.4183C36.3121 15.1662 35.5352 13.0508 34.3499 11.0922C32.7305 8.4163 30.5787 6.26253 27.903 4.64159C25.9565 3.46234 23.8594 2.6715 21.6163 2.26432C20.7891 2.11417 20.4188 1.6594 20.4826 0.96053C20.5271 0.472376 20.8753 0.228499 21.245 0H21.9308Z"/>
                    <path d="M0.00361404 11.178C-0.0481397 9.33515 0.451723 7.69052 1.77606 6.35935C2.85887 5.27096 3.91976 4.15532 5.06625 3.13712C6.42065 1.93428 8.39356 1.9534 9.77859 3.10806C10.333 3.5703 10.8495 4.08114 11.3578 4.59496C12.6521 5.90323 13.9753 7.18682 15.2056 8.55345C16.4087 9.88987 16.3718 11.9087 15.1673 13.2491C14.2861 14.2298 13.3344 15.1478 12.4002 16.0798C12.2258 16.2537 12.2083 16.3697 12.3176 16.591C13.2497 18.4784 14.5634 20.085 15.9869 21.6108C17.482 23.2135 19.1237 24.6471 20.9753 25.8275C21.4443 26.1264 21.9422 26.3827 22.4416 26.6288C22.5285 26.6716 22.7254 26.6039 22.8096 26.5229C23.6973 25.6696 24.5418 24.7692 25.4578 23.9481C27.0989 22.4769 29.0201 22.4625 30.609 23.9787C32.353 25.643 34.0467 27.3639 35.695 29.1232C36.9436 30.4559 36.9215 32.4853 35.7514 33.8946C35.4279 34.2842 35.0738 34.65 34.7176 35.0108C33.8532 35.8864 33.0248 36.8051 32.0984 37.6105C30.7058 38.8212 29.0188 39.1247 27.2191 38.9577C23.9906 38.658 21.1168 37.3494 18.3309 35.8137C14.768 33.8496 11.605 31.3584 8.84437 28.3751C5.57948 24.8468 2.88307 20.9444 1.15833 16.4193C0.495565 14.6805 0.060617 12.8069 0.00361404 11.178ZM28.0032 36.7808C29.0841 36.7607 30.0464 36.5312 30.7936 35.807C31.8501 34.7831 32.8816 33.7312 33.8825 32.653C34.591 31.8896 34.549 31.1311 33.8361 30.3562C33.5098 30.0015 33.1622 29.6662 32.8213 29.3251C31.6007 28.1044 30.3842 26.8795 29.1555 25.667C28.4109 24.9322 27.6477 24.9311 26.8758 25.6361C26.7728 25.7303 26.6746 25.8297 26.5758 25.9283C25.7042 26.798 24.8379 27.673 23.9601 28.5363C23.3427 29.1434 22.6241 29.2596 21.8705 28.8802C21.3501 28.6182 20.8289 28.3544 20.3281 28.0577C17.9714 26.6618 15.9325 24.8796 14.0908 22.8658C12.5018 21.1283 11.0597 19.287 10.0978 17.1114C9.66136 16.1243 9.77633 15.4879 10.5412 14.7483C11.3988 13.919 12.2517 13.0846 13.0944 12.2401C14.1123 11.2201 14.1061 10.5131 13.0818 9.48375C11.6492 8.04419 10.2137 6.60757 8.77609 5.17305C7.86749 4.26641 7.04625 4.25966 6.13686 5.15697C5.25141 6.03064 4.352 6.89225 3.50709 7.80394C3.12727 8.2138 2.78936 8.69937 2.56546 9.20898C2.09997 10.2684 2.1976 11.3985 2.38706 12.503C2.72796 14.4902 3.46655 16.3493 4.3636 18.142C6.3952 22.2021 9.14185 25.7291 12.4653 28.8084C15.8595 31.9533 19.6977 34.3961 24.0563 35.9882C25.3482 36.4601 26.6887 36.7217 28.0032 36.7808Z"/>
                    <path d="M21.3519 6.97754C22.3368 7.29097 23.3601 7.51749 24.2997 7.93303C28.1433 9.63274 30.6171 12.5362 31.7064 16.6017C31.7977 16.9425 31.8776 17.2927 31.9039 17.643C31.9471 18.2183 31.5505 18.7134 31.0248 18.8055C30.4476 18.9065 29.9175 18.6085 29.7442 18.042C29.552 17.414 29.4535 16.7527 29.217 16.1436C27.7594 12.389 25.0508 10.0968 21.0952 9.28753C20.5237 9.1706 20.1829 8.78046 20.1576 8.24559C20.1335 7.73449 20.4252 7.29509 20.9093 7.13459C21.0388 7.09165 21.1803 7.08459 21.3162 7.06107L21.3519 6.97754Z"/>
                </svg>
            </span>
            <span>Позвонить</span></a>
    </div>
</main>
{{> footer }}