{{> header }}
<main class="main main-print">
    <div id="downloadFileFormContainer">
        <form id="downloadFileForm" enctype="multipart/form-data" class="form-downloadFile">
            <!--<input type="hidden" name="_csrf" value="{{ csrf }}">-->
            <div class="block-input">
                <label class="label-downloadFile"><input name="file" type="file" name="filedata" class="field-downloadFile"></label>
                <label class="label-fileName"><input id="inputText" name="filename" type="text" placeholder="Введите имя файла... *"></label>
            </div>
            <div class="block-submit">
                <p id="message">{{message}}</p>
                <button id="downloadDoc" class="classicBtn" type="submit">Загрузить документ</button>
            </div>
        </form>
    </div>



    <ul id="filesList" class="filesList">
        {{> filesList }}
    </ul>

    <div class="scanner">
        <button id="runExe" class="classicBtn">Сканировать</button>
    </div>
</main>
{{> footer }}