{{> header }}
<main class="main main-info">
    <h1 class="main-info__title">Многофункциональный интерактивный терминал</h1>
    <div class="main-info__desc">
        <p>Интерактивный терминал «всё-в-одном», включая аппаратную возможность видеосвязи с удаленным консультантом, для офисов обслуживания и продаж.</p>
        <p>С помощью МФУ клиенты могут заходить в свой личный кабинет, фиксировать и передавать показания счетчиков, оплачивать мобильную связь, интернет и коммунальные платежи, а также ксерокопировать и печатать документы.</p>
    </div>
    <div class="main-info__img">
        <div class="info__schema">
            <picture>
                <source srcSet="images/info-schema.avif" type="image/avif" />
                <source srcset="images/info-schema.webp" type="image/webp">
                <img src="images/info-schema.png" alt="описание" />
            </picture>
        </div>
    </div>
</main>
{{> footer }}