{{> header }}
<main class="main main-manual">
    <section class="accordion">
        <h2 class="main-manual__title">Популярные вопросы:</h2>
        <ul class="accordion__inner">
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как зайти в личный кабинет?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Перейдите на главную страницу и выберете “Личный кабинет клиента”. У вас откроется окно, где необходимо будет заполнить свои данные чтобы войти, или зарегистрироваться в системе.</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как получить видео-консультацию?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Перейдите на главную страницу и выберете “Видео-консультация”. У вас откроется окно, где необходимо будет нажать кнопку “позвонить”. Далее ожидайте соединения с оператором.</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как оплатить коммунальные услуги?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa dignissimos, neque officiis possimus tempora voluptate. Ab aliquam ea voluptatum!</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как оплатить услуги через QR-код?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Перейдите на главную страницу и выберете “Оплата услуг”. У вас откроется окно, где необходимо будет выбрать каким способом вы хотите произвести оплату и оплатить.</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как распечатать документ?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam distinctio eius explicabo impedit magnam, nobis omnis perferendis placeat suscipit. Rerum.</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как отсканировать документ?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus et labore laborum laudantium maxime nemo quidem quod sed ullam!</p>
                </div>
            </li>
            <li class="accordion__item">
                <div class="accordion-item__trigger">
                    <div class="accordion-item__title">Как добавить показания по счетчикам?</div>
                    <div class="accordion-item__icon">
                        <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 10.5L10 1L19 10.5" stroke="black"/>
                        </svg>
                    </div>
                </div>
                <div class="accordion-item__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ducimus et labore laborum laudantium maxime nemo quidem quod sed ullam!</p>
                </div>
            </li>
        </ul>
    </section>
    <section class="ask-quest">
        <h2 class="main-manual__title">Задать свой вопрос:</h2>
        <form action="" class="ask-quest__form">
            <input id="inputText" type="text" placeholder="...">
        </form>
    </section>
</main>
{{> footer }}