@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: 1px dotted #555555;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #555555;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #555555;
  background-color: #ffffff;
  width: 100vw;
  max-width: 1080px;
  min-height: 1920px;
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 1081px) {
  body {
    min-height: unset;
    overflow: unset;
    height: 1920px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 83px;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

input::-webkit-file-upload-button,
.classicBtn {
  background: #ffffff;
  -webkit-box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #3A80F7;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
  padding: 14px 34px;
}

.classicBtn.blue-btn {
  color: #ffffff;
  background: #3A80F7;
}

.callBtn {
  padding: 26px 40px 26px 28px;
  background: rgba(83, 187, 234, 0.93);
  border-radius: 50px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41%;
}
.callBtn span {
  display: inline-block;
}
.callBtn__icon {
  width: 39px;
  height: 39px;
  margin-right: 37px;
}
.callBtn__icon svg {
  fill: #ffffff;
  width: 100%;
  height: 100%;
}

/* Blocks */
.footer {
  padding: 42px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  min-height: 159px;
}
.footer .icon-box {
  min-width: 227px;
  height: 75px;
}
.footer .icon-box .svg-logo-dims {
  width: 100%;
  height: 100%;
}

.header__top {
  height: 99px;
  background: -webkit-gradient(linear, left top, right top, color-stop(14.02%, #00A6DD), color-stop(83.15%, #005CBC));
  background: -o-linear-gradient(left, #00A6DD 14.02%, #005CBC 83.15%);
  background: linear-gradient(90deg, #00A6DD 14.02%, #005CBC 83.15%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  padding: 0 117px 0 53px;
}
.header__top.main {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 53px;
}
.header__top.transmission, .header__top.consultation {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.02%, #FFA618), color-stop(85.05%, #E24001));
  background: -o-linear-gradient(left, #FFA618 14.02%, #E24001 85.05%);
  background: linear-gradient(90deg, #FFA618 14.02%, #E24001 85.05%);
}
.header__top.payment, .header__top.manual {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.12%, #D61A7B), color-stop(85.88%, #823584));
  background: -o-linear-gradient(left, #D61A7B 14.12%, #823584 85.88%);
  background: linear-gradient(90deg, #D61A7B 14.12%, #823584 85.88%);
}

.header__return {
  display: block;
  width: 60px;
  height: 50%;
  padding-top: 10px;
}
.header__return svg {
  fill: #ffffff;
}

.header__title {
  position: relative;
}
.header__title:after {
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  right: -64px;
  width: 33px;
  height: 36px;
}

.user .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' width='58' height='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.226 17.371C11.226 7.777 19.184 0 29 0s17.774 7.777 17.774 17.371c0 5.67-2.779 10.705-7.079 13.876C50.418 35.407 58 45.638 58 57.6v3.657C58 62.772 56.743 64 55.194 64c-1.55 0-2.807-1.228-2.807-2.743V57.6c0-12.624-10.47-22.857-23.387-22.857-12.916 0-23.387 10.233-23.387 22.857v3.657C5.613 62.772 4.356 64 2.806 64S0 62.772 0 61.257V57.6c0-11.962 7.582-22.193 18.305-26.353-4.3-3.17-7.08-8.206-7.08-13.876zM29 5.486c-6.716 0-12.161 5.321-12.161 11.885 0 6.565 5.445 11.886 12.161 11.886 6.716 0 12.161-5.321 12.161-11.886 0-6.564-5.445-11.885-12.161-11.885z'/%3E%3C/svg%3E");
}

.transmission .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='82' height='65' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M82 24.437c-.606.764-1.148 1.592-1.828 2.282C73.793 33.193 67.388 39.639 61 46.104c-.73.739-1.53 1.26-2.6 1.183-1.673-.121-2.76-1.377-2.775-3.245-.02-2.532-.005-5.064-.005-7.596v-.966h-1.106c-10.11 0-20.222.002-30.333-.004-.505 0-1.025.003-1.51-.112-1.233-.293-2.12-1.47-2.136-2.792-.019-1.498-.004-2.996-.004-4.436-4.405 4.454-8.8 8.898-13.136 13.28L20.53 54.679v-4.02c.004-2.208 1.158-3.39 3.357-3.392 7.524-.007 15.047-.008 22.57 0 2.39.004 3.895 1.887 3.187 3.951-.423 1.235-1.497 1.985-2.896 1.986-6.43.005-12.859.003-19.288.003h-1.044v2.217c0 2.101.02 4.203-.006 6.303-.026 2.111-1.389 3.5-3.285 3.243a3.371 3.371 0 01-1.807-.896c-6.801-6.81-13.57-13.65-20.332-20.499-1.313-1.33-1.317-3.039.004-4.378 6.74-6.83 13.5-13.644 20.255-20.462.961-.97 2.096-1.278 3.362-.745 1.284.541 1.796 1.629 1.804 2.974.015 2.532.005 5.065.005 7.597v.998h1.073c10.058 0 20.116 0 30.173.002.373 0 .748 0 1.12.032 1.595.133 2.7 1.312 2.72 2.922.017 1.477.003 2.954.003 4.286L74.57 23.61 61.55 10.457c-.003.029-.041.224-.042.419-.005 1.239.002 2.478-.004 3.717-.01 1.842-1.105 3.03-2.925 3.173-.185.015-.373.01-.56.01-7.443 0-14.886.005-22.33-.01-.524-.001-1.075-.064-1.567-.236-1.304-.454-2.098-1.877-1.868-3.212.25-1.448 1.432-2.476 2.922-2.479 5.47-.011 10.938-.005 16.407-.005h4.037v-.893c0-2.506.009-5.01-.003-7.516-.007-1.444.472-2.62 1.855-3.187 1.375-.564 2.51-.074 3.53.96C67.59 7.876 74.206 14.53 80.79 21.214c.492.5.81 1.174 1.209 1.768v1.454z'/%3E%3C/svg%3E");
}

.info .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='68' height='68' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34 29.904c1.357 0 2.458 1.058 2.458 2.363v15.755c0 1.306-1.1 2.364-2.458 2.364-1.357 0-2.458-1.059-2.458-2.364V32.267c0-1.305 1.1-2.363 2.458-2.363zm1.65-12.073a2.439 2.439 0 01.181 3.446l-.033.036a2.443 2.443 0 01-3.448.181 2.439 2.439 0 01-.181-3.445l.033-.037a2.443 2.443 0 013.448-.18z'/%3E%3Cpath d='M0 33.795C0 15.131 15.222 0 34 0s34 15.13 34 33.795S52.778 67.59 34 67.59 0 52.46 0 33.795zm34-29.08c-16.157 0-29.256 13.02-29.256 29.08S17.843 62.875 34 62.875s29.256-13.02 29.256-29.08S50.157 4.715 34 4.715z'/%3E%3C/svg%3E");
}

.print .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg' x='0' y='0' width='64' height='63' xml:space='preserve'%3E%3Cpath d='M49.9 49.2V61c0 .5-.4.8-.8.8H15.2c-.5 0-.9-.4-.9-.9V49.1H6.5c-.6 0-1.2-.1-1.8-.3-.3-.1-.5-.2-.8-.3-1.4-.8-2.4-2-2.7-3.6-.1-.3-.1-.5-.1-.8V19.9c0-.7.1-1.3.3-1.9.6-1.5 2-2.9 3.8-3.2.3-.1.6-.1.9-.1h.2c.1-.1.1-.2.1-.3v-4.1c0-.4.3-.7.7-.8H14c.1-.1 0-.2 0-.4V6.7c0-.7.1-1.5.4-2.2.8-1.8 2.2-3 4.2-3.4.3 0 .7-.1 1.1-.1h24.6c.7 0 1.4.1 2.1.3.9.3 1.6.8 2.3 1.5.8.9 1.3 2 1.5 3.2v3.4H57c.4.1.7.4.7.8v4.5h.3c.8 0 1.6.2 2.3.7 1.5.8 2.3 2.1 2.6 3.7v24.6c0 .5 0 1-.2 1.4-.5 1.9-2.1 3.5-4.1 3.8-.4.1-.7.1-1.1.1h-7.3c0 .2-.2.2-.3.2zm0-1.9H58c1.4-.1 2.6-1.1 2.9-2.5.1-.3.1-.6.1-.9v-24c0-1.4-1-2.6-2.2-3-.4-.1-.7-.2-1.1-.2h-52c-1.3.2-2.3 1.1-2.7 2.4v25c0 .6.2 1.1.5 1.6.6 1 1.5 1.5 2.6 1.6h8v-8.4c0-.5.4-.9.9-.9h34c.5 0 .8.4.9.9v8.4zM16.1 60H48V39.8H16.1c-.1.4-.1 19.9 0 20.2zm32.1-45.2V6.7c0-.2 0-.5-.1-.7-.2-1-.8-1.9-1.7-2.4-.7-.4-1.4-.6-2.2-.6H19c-1.3.1-2.6 1-3.1 2.4-.2.5-.2.9-.2 1.4v8h32.5zm2 0h5.5v-3.4h-5.4c-.2.3-.2 3.1-.1 3.4zm-42-3.4v3.3h5.6v-3.3H8.2z'/%3E%3Cpath d='M15.3 63H15c-1-.1-1.8-.8-1.9-1.9V50.2H6.3c-.8 0-1.5-.1-2.1-.3-.3-.1-.6-.2-.9-.4-1.7-1-2.8-2.4-3.2-4.3 0-.2-.1-.5-.1-.7V20.1c0-.8.1-1.5.4-2.2.7-2 2.5-3.5 4.5-3.9.1 0 .2 0 .3-.1v-3.6c.2-.9.8-1.6 1.6-1.8.3-.1.5-.1.7-.1h5.4V6.6c0-1 .2-1.8.5-2.6 1-2.1 2.6-3.5 4.9-3.9.5-.1 1-.1 1.4-.1h24.6c.9 0 1.7.1 2.4.4 1 .4 1.9.9 2.7 1.7 1 1 1.6 2.3 1.7 3.7v2.6h5.4c.2 0 .4 0 .7.1.8.2 1.4.9 1.5 1.7v3.6c.8.1 1.5.4 2.1.7 1.7 1 2.8 2.5 3.1 4.5.1.4.1.8.1 1.1v23.8c0 .7-.1 1.2-.2 1.7-.6 2.3-2.5 4.1-4.9 4.5-.4.1-.8.1-1.3.1h-6.7v10.9c-.1.9-.8 1.7-1.8 1.8h-.4l-33.4.1zm-.2-2.7v.6h.1l-.1-.6zm33.5.7h.4c-.1 0-.1 0-.1-.1l-.5.1h.2zm-31.5-2H47V40.8H17.1c-.1 3.3-.1 14.9 0 18.2zm33-9.8zm-35.8-.9l.7.1v-.8.1l-.2.5-.5.1c0-.1 0-.1 0 0zm34.7 0v.3l.6-.2h.1l-.7-.1zM10.6 17.7H5.8c-.9.1-1.6.8-1.8 1.6v24.8c0 .4.1.8.3 1.1.4.7 1 1 1.8 1.1h7v-7.4c.1-1 .8-1.8 1.9-1.9h34.2c1 .1 1.7.8 1.8 1.8v7.6h7c1-.1 1.8-.8 2-1.7V20c0-1-.8-1.8-1.5-2-.3-.1-.5-.1-.8-.1H14.3c-1.2-.2-2.4-.2-3.7-.2zm4.7 21.2h-.2v.6l.2-.6h.3-.3zm33.5 0l.1.6v-.7c0 .1-.1.1-.1.1zm-.1-23.2h.8-.1l-.2-.7v.6l-.5.1zm-34.5 0h1.1-.4l-.1-.7-.1.3-.5.4zm-6.9-.8l-.3.6-.2.2H8l-.5-.3-.2-.5zm49.4.1l-.1.4-.5.3H56h1-.3V15zm-39.9-1.2h30.4V6.2c-.2-.8-.6-1.4-1.2-1.8-.5-.3-1-.4-1.6-.4H19.2c-.8.1-1.9.7-2.2 1.8-.1.3-.2.6-.2 1.1v6.9zm34.3 0h3.7v-1.4h-3.6c-.1.4-.1 1-.1 1.4zM9.2 12.4v1.4h3.6v-1.4H9.2zm5.1-1.9h.3l.2.7V9.8v.1l-.2.6h-.3zm42.2 0l.2.6v-.7c0 .1-.1.1-.2.1zm-7.3-.2v.8l.1-.4.5-.2c.1 0 .1-.1.2-.1l-.8-.1zm-41.9.2h.5-.5c-.1 0-.1 0 0 0z'/%3E%3Cpath d='M8.6 21c.7 0 1.4.6 1.4 1.4s-.6 1.4-1.4 1.4c-.7 0-1.4-.6-1.4-1.4 0-.9.7-1.5 1.4-1.4zm0 1c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4c0-.3-.2-.4-.4-.4z'/%3E%3Cpath d='M8.6 24.8c-1.3 0-2.4-1.1-2.4-2.4 0-.7.3-1.4.8-1.9.5-.4 1.1-.6 1.6-.5 1.3 0 2.3 1.1 2.3 2.4.1 1.3-1 2.4-2.3 2.4zM8.4 22s-.1 0-.1.1c0 0-.1.1-.1.4 0 .2.2.4.4.4s.4-.2.4-.4c0-.3-.2-.5-.4-.5h-.2c.1 0 .1 0 0 0zm1.6 8.1c0 .8-.6 1.4-1.4 1.4-.7 0-1.4-.6-1.4-1.4s.6-1.4 1.4-1.4c.8 0 1.4.6 1.4 1.4zm-1.4-.4c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4z'/%3E%3Cpath d='M8.6 32.5c-1.3 0-2.4-1.1-2.4-2.4 0-1.3 1.1-2.4 2.4-2.4s2.4 1.1 2.4 2.4c0 1.3-1.1 2.4-2.4 2.4zm0-2.8c-.2 0-.4.2-.4.4s.2.4.4.4.4-.2.4-.4-.2-.4-.4-.4zM32 50.9H21.1c-.5 0-.9-.4-.9-.9s.3-.9.7-1h22.2c.5.1.9.5.8 1 0 .4-.4.8-.8.8h-.4c-3.6.1-7.2.1-10.7.1z'/%3E%3Cpath d='M32 51.9H21.1c-1 0-1.9-.9-1.9-1.9 0-.9.6-1.8 1.5-2h22.6c1.1.2 1.7 1.1 1.6 2.1-.1.9-.9 1.7-1.8 1.7h-.4c-3.6.1-7.2.1-10.7.1zM43 50z'/%3E%3C/svg%3E");
}

.consultation .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='74' height='70' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.807 29.327C7.137 13.074 20.529 0 37 0c16.471 0 29.863 13.075 30.193 29.327C71.225 30.607 74 34.333 74 38.58v6.327c0 4.244-2.772 7.968-6.8 9.25v1.072c0 5.365-4.387 9.715-9.8 9.715h-7.774A8.101 8.101 0 0142.1 70H31.9c-4.473 0-8.099-3.595-8.099-8.03 0-4.434 3.626-8.03 8.099-8.03h10.2a8.1 8.1 0 017.526 5.057H57.4c1.949 0 3.555-1.453 3.776-3.327l-.514.128c-3.18.788-6.26-1.597-6.26-4.847V32.534c0-3.25 3.08-5.635 6.26-4.847l.445.11C60.013 15.55 49.638 5.947 37 5.947S13.987 15.55 12.892 27.799l.445-.11c3.18-.789 6.26 1.596 6.26 4.846v18.417c0 3.25-3.08 5.635-6.26 4.847l-5.915-1.466C3.06 53.25 0 49.365 0 44.906V38.58c0-4.245 2.775-7.972 6.807-9.252zm2.07 5.595a3.776 3.776 0 00-2.88 3.657v6.327a3.776 3.776 0 002.88 3.657l4.724 1.171V33.751l-4.724 1.17zm56.246 0L60.4 33.75v15.983l4.724-1.17a3.776 3.776 0 002.88-3.658V38.58a3.776 3.776 0 00-2.88-3.657zM59.208 50.03zM31.9 59.886c-1.161 0-2.102.933-2.102 2.084s.941 2.084 2.102 2.084h10.2a2.093 2.093 0 002.102-2.084c0-1.15-.941-2.084-2.102-2.084H31.9z'/%3E%3C/svg%3E");
}

.payment .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='68' height='63' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.59 17.159c-2.408 0-4.36 1.973-4.36 4.408v31.736c0 2.434 1.952 4.408 4.36 4.408h48.82c2.408 0 4.36-1.974 4.36-4.408V21.567c0-2.435-1.952-4.408-4.36-4.408H9.59zM0 21.567c0-5.356 4.293-9.697 9.59-9.697h48.82c5.297 0 9.59 4.341 9.59 9.697v31.736C68 58.658 63.707 63 58.41 63H9.59C4.294 63 0 58.659 0 53.303V21.567z'/%3E%3Cpath d='M49.867 39.26a1.82 1.82 0 01-1.814-1.825 1.82 1.82 0 011.814-1.826 1.82 1.82 0 011.813 1.826 1.82 1.82 0 01-1.813 1.826z'/%3E%3Cpath d='M49.867 38.348a.91.91 0 00.906-.913.91.91 0 00-.906-.913.91.91 0 00-.907.913.91.91 0 00.907.913zm-4.534-.913c0-2.521 2.03-4.565 4.534-4.565 2.503 0 4.533 2.044 4.533 4.565 0 2.52-2.03 4.565-4.533 4.565-2.504 0-4.534-2.044-4.534-4.565zM45.505.33c6.092-1.625 12.068 2.967 12.068 9.272v4.875H52.34V9.602c0-2.866-2.716-4.953-5.485-4.215L8.472 15.624a4.362 4.362 0 00-3.238 4.215v1.617H0V19.84a9.597 9.597 0 017.123-9.273L45.506.33z'/%3E%3C/svg%3E");
}

.manual .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.79 35c0-6.743 5.467-12.21 12.21-12.21 6.743 0 12.21 5.467 12.21 12.21 0 6.743-5.467 12.21-12.21 12.21-6.743 0-12.21-5.467-12.21-12.21zM35 27.674a7.325 7.325 0 100 14.651 7.325 7.325 0 000-14.65z'/%3E%3Cpath d='M29.32 1.82A2.442 2.442 0 0131.683 0h6.363c1.11 0 2.08.748 2.362 1.821l1.718 6.54 6.308 2.595 4.516-3.859a2.442 2.442 0 013.313.13l6.511 6.511c.898.898.958 2.334.138 3.304l-3.842 4.544 2.536 6.125 6.555 1.667A2.442 2.442 0 0170 31.744v6.438a2.442 2.442 0 01-1.827 2.363L61.58 42.26l-2.54 6.133 3.87 4.563c.82.97.762 2.407-.137 3.305l-6.512 6.512a2.442 2.442 0 01-3.357.091l-.18-.161a248.285 248.285 0 00-2.093-1.846 115.255 115.255 0 00-2.162-1.841l-6.179 2.558-1.667 6.584A2.442 2.442 0 0138.256 70h-6.512a2.442 2.442 0 01-2.367-1.844l-1.662-6.581-6.003-2.47-4.704 3.834a2.442 2.442 0 01-3.27-.166l-6.511-6.512a2.442 2.442 0 01-.096-3.351l3.908-4.384-2.568-6.093-6.672-1.822A2.442 2.442 0 010 38.257v-6.512c0-1.135.782-2.12 1.887-2.378l6.494-1.515 2.498-6.143-3.82-4.703a2.442 2.442 0 01.168-3.266l6.511-6.512a2.442 2.442 0 013.35-.098l4.398 3.912 6.083-2.565 1.752-6.656zm4.245 3.064l-1.579 5.997a2.442 2.442 0 01-1.413 1.629l-8.61 3.63c-.868.365-1.868.2-2.572-.426l-3.828-3.405-3.326 3.326 3.344 4.115c.561.691.702 1.634.366 2.46l-3.519 8.651a2.442 2.442 0 01-1.707 1.458l-5.837 1.363v2.71l6.018 1.642a2.442 2.442 0 011.607 1.407l3.63 8.61c.366.868.2 1.87-.428 2.573l-3.4 3.815 3.321 3.321 4.122-3.359a2.442 2.442 0 012.472-.365l8.484 3.49a2.44 2.44 0 011.438 1.66l1.498 5.93h2.71l1.5-5.928a2.443 2.443 0 011.434-1.657l8.63-3.574a2.442 2.442 0 012.354.27c.834.596 2.351 1.892 3.563 2.947l.596.52 3.297-3.296-3.378-3.984a2.442 2.442 0 01-.393-2.513l3.574-8.633c.293-.707.9-1.236 1.642-1.428l5.941-1.546v-2.651l-5.9-1.5a2.442 2.442 0 01-1.655-1.433l-3.574-8.63a2.442 2.442 0 01.392-2.51l3.353-3.966-3.327-3.327-3.934 3.361a2.442 2.442 0 01-2.515.402l-8.813-3.624a2.442 2.442 0 01-1.433-1.638l-1.548-5.894h-2.597z'/%3E%3C/svg%3E");
}

.qr .header__title:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='500' height='500'%3E%3Cdefs%3E%3Cpath id='block' fill='%23fff' fill-opacity='1' d='M0 0h20v20H0z'/%3E%3C/defs%3E%3Cpath fill='none' d='M0 0h500v500H0z'/%3E%3Cuse xlink:href='%23block'/%3E%3Cuse x='20' xlink:href='%23block'/%3E%3Cuse x='40' xlink:href='%23block'/%3E%3Cuse x='60' xlink:href='%23block'/%3E%3Cuse x='80' xlink:href='%23block'/%3E%3Cuse x='100' xlink:href='%23block'/%3E%3Cuse x='120' xlink:href='%23block'/%3E%3Cuse x='180' xlink:href='%23block'/%3E%3Cuse x='200' xlink:href='%23block'/%3E%3Cuse x='220' xlink:href='%23block'/%3E%3Cuse x='240' xlink:href='%23block'/%3E%3Cuse x='260' xlink:href='%23block'/%3E%3Cuse x='360' xlink:href='%23block'/%3E%3Cuse x='380' xlink:href='%23block'/%3E%3Cuse x='400' xlink:href='%23block'/%3E%3Cuse x='420' xlink:href='%23block'/%3E%3Cuse x='440' xlink:href='%23block'/%3E%3Cuse x='460' xlink:href='%23block'/%3E%3Cuse x='480' xlink:href='%23block'/%3E%3Cuse y='20' xlink:href='%23block'/%3E%3Cuse x='120' y='20' xlink:href='%23block'/%3E%3Cuse x='240' y='20' xlink:href='%23block'/%3E%3Cuse x='260' y='20' xlink:href='%23block'/%3E%3Cuse x='280' y='20' xlink:href='%23block'/%3E%3Cuse x='320' y='20' xlink:href='%23block'/%3E%3Cuse x='360' y='20' xlink:href='%23block'/%3E%3Cuse x='480' y='20' xlink:href='%23block'/%3E%3Cuse y='40' xlink:href='%23block'/%3E%3Cuse x='40' y='40' xlink:href='%23block'/%3E%3Cuse x='60' y='40' xlink:href='%23block'/%3E%3Cuse x='80' y='40' xlink:href='%23block'/%3E%3Cuse x='120' y='40' xlink:href='%23block'/%3E%3Cuse x='160' y='40' xlink:href='%23block'/%3E%3Cuse x='180' y='40' xlink:href='%23block'/%3E%3Cuse x='220' y='40' xlink:href='%23block'/%3E%3Cuse x='280' y='40' xlink:href='%23block'/%3E%3Cuse x='320' y='40' xlink:href='%23block'/%3E%3Cuse x='360' y='40' xlink:href='%23block'/%3E%3Cuse x='400' y='40' xlink:href='%23block'/%3E%3Cuse x='420' y='40' xlink:href='%23block'/%3E%3Cuse x='440' y='40' xlink:href='%23block'/%3E%3Cuse x='480' y='40' xlink:href='%23block'/%3E%3Cuse y='60' xlink:href='%23block'/%3E%3Cuse x='40' y='60' xlink:href='%23block'/%3E%3Cuse x='60' y='60' xlink:href='%23block'/%3E%3Cuse x='80' y='60' xlink:href='%23block'/%3E%3Cuse x='120' y='60' xlink:href='%23block'/%3E%3Cuse x='160' y='60' xlink:href='%23block'/%3E%3Cuse x='240' y='60' xlink:href='%23block'/%3E%3Cuse x='280' y='60' xlink:href='%23block'/%3E%3Cuse x='320' y='60' xlink:href='%23block'/%3E%3Cuse x='360' y='60' xlink:href='%23block'/%3E%3Cuse x='400' y='60' xlink:href='%23block'/%3E%3Cuse x='420' y='60' xlink:href='%23block'/%3E%3Cuse x='440' y='60' xlink:href='%23block'/%3E%3Cuse x='480' y='60' xlink:href='%23block'/%3E%3Cuse y='80' xlink:href='%23block'/%3E%3Cuse x='40' y='80' xlink:href='%23block'/%3E%3Cuse x='60' y='80' xlink:href='%23block'/%3E%3Cuse x='80' y='80' xlink:href='%23block'/%3E%3Cuse x='120' y='80' xlink:href='%23block'/%3E%3Cuse x='180' y='80' xlink:href='%23block'/%3E%3Cuse x='240' y='80' xlink:href='%23block'/%3E%3Cuse x='260' y='80' xlink:href='%23block'/%3E%3Cuse x='280' y='80' xlink:href='%23block'/%3E%3Cuse x='300' y='80' xlink:href='%23block'/%3E%3Cuse x='360' y='80' xlink:href='%23block'/%3E%3Cuse x='400' y='80' xlink:href='%23block'/%3E%3Cuse x='420' y='80' xlink:href='%23block'/%3E%3Cuse x='440' y='80' xlink:href='%23block'/%3E%3Cuse x='480' y='80' xlink:href='%23block'/%3E%3Cuse y='100' xlink:href='%23block'/%3E%3Cuse x='120' y='100' xlink:href='%23block'/%3E%3Cuse x='180' y='100' xlink:href='%23block'/%3E%3Cuse x='280' y='100' xlink:href='%23block'/%3E%3Cuse x='300' y='100' xlink:href='%23block'/%3E%3Cuse x='360' y='100' xlink:href='%23block'/%3E%3Cuse x='480' y='100' xlink:href='%23block'/%3E%3Cuse y='120' xlink:href='%23block'/%3E%3Cuse x='20' y='120' xlink:href='%23block'/%3E%3Cuse x='40' y='120' xlink:href='%23block'/%3E%3Cuse x='60' y='120' xlink:href='%23block'/%3E%3Cuse x='80' y='120' xlink:href='%23block'/%3E%3Cuse x='100' y='120' xlink:href='%23block'/%3E%3Cuse x='120' y='120' xlink:href='%23block'/%3E%3Cuse x='160' y='120' xlink:href='%23block'/%3E%3Cuse x='200' y='120' xlink:href='%23block'/%3E%3Cuse x='240' y='120' xlink:href='%23block'/%3E%3Cuse x='280' y='120' xlink:href='%23block'/%3E%3Cuse x='320' y='120' xlink:href='%23block'/%3E%3Cuse x='360' y='120' xlink:href='%23block'/%3E%3Cuse x='380' y='120' xlink:href='%23block'/%3E%3Cuse x='400' y='120' xlink:href='%23block'/%3E%3Cuse x='420' y='120' xlink:href='%23block'/%3E%3Cuse x='440' y='120' xlink:href='%23block'/%3E%3Cuse x='460' y='120' xlink:href='%23block'/%3E%3Cuse x='480' y='120' xlink:href='%23block'/%3E%3Cuse x='200' y='140' xlink:href='%23block'/%3E%3Cuse x='220' y='140' xlink:href='%23block'/%3E%3Cuse x='320' y='140' xlink:href='%23block'/%3E%3Cuse x='60' y='160' xlink:href='%23block'/%3E%3Cuse x='80' y='160' xlink:href='%23block'/%3E%3Cuse x='120' y='160' xlink:href='%23block'/%3E%3Cuse x='140' y='160' xlink:href='%23block'/%3E%3Cuse x='200' y='160' xlink:href='%23block'/%3E%3Cuse x='220' y='160' xlink:href='%23block'/%3E%3Cuse x='300' y='160' xlink:href='%23block'/%3E%3Cuse x='320' y='160' xlink:href='%23block'/%3E%3Cuse x='420' y='160' xlink:href='%23block'/%3E%3Cuse x='440' y='160' xlink:href='%23block'/%3E%3Cuse y='180' xlink:href='%23block'/%3E%3Cuse x='20' y='180' xlink:href='%23block'/%3E%3Cuse x='40' y='180' xlink:href='%23block'/%3E%3Cuse x='60' y='180' xlink:href='%23block'/%3E%3Cuse x='80' y='180' xlink:href='%23block'/%3E%3Cuse x='100' y='180' xlink:href='%23block'/%3E%3Cuse x='180' y='180' xlink:href='%23block'/%3E%3Cuse x='200' y='180' xlink:href='%23block'/%3E%3Cuse x='240' y='180' xlink:href='%23block'/%3E%3Cuse x='280' y='180' xlink:href='%23block'/%3E%3Cuse x='320' y='180' xlink:href='%23block'/%3E%3Cuse x='360' y='180' xlink:href='%23block'/%3E%3Cuse x='400' y='180' xlink:href='%23block'/%3E%3Cuse x='420' y='180' xlink:href='%23block'/%3E%3Cuse x='440' y='180' xlink:href='%23block'/%3E%3Cuse x='460' y='180' xlink:href='%23block'/%3E%3Cuse x='480' y='180' xlink:href='%23block'/%3E%3Cuse y='200' xlink:href='%23block'/%3E%3Cuse x='60' y='200' xlink:href='%23block'/%3E%3Cuse x='80' y='200' xlink:href='%23block'/%3E%3Cuse x='120' y='200' xlink:href='%23block'/%3E%3Cuse x='200' y='200' xlink:href='%23block'/%3E%3Cuse x='300' y='200' xlink:href='%23block'/%3E%3Cuse x='320' y='200' xlink:href='%23block'/%3E%3Cuse x='340' y='200' xlink:href='%23block'/%3E%3Cuse x='380' y='200' xlink:href='%23block'/%3E%3Cuse x='400' y='200' xlink:href='%23block'/%3E%3Cuse x='460' y='200' xlink:href='%23block'/%3E%3Cuse x='480' y='200' xlink:href='%23block'/%3E%3Cuse x='20' y='220' xlink:href='%23block'/%3E%3Cuse x='40' y='220' xlink:href='%23block'/%3E%3Cuse x='60' y='220' xlink:href='%23block'/%3E%3Cuse x='80' y='220' xlink:href='%23block'/%3E%3Cuse x='100' y='220' xlink:href='%23block'/%3E%3Cuse x='160' y='220' xlink:href='%23block'/%3E%3Cuse x='180' y='220' xlink:href='%23block'/%3E%3Cuse x='220' y='220' xlink:href='%23block'/%3E%3Cuse x='240' y='220' xlink:href='%23block'/%3E%3Cuse x='260' y='220' xlink:href='%23block'/%3E%3Cuse x='300' y='220' xlink:href='%23block'/%3E%3Cuse x='320' y='220' xlink:href='%23block'/%3E%3Cuse x='380' y='220' xlink:href='%23block'/%3E%3Cuse x='400' y='220' xlink:href='%23block'/%3E%3Cuse x='440' y='220' xlink:href='%23block'/%3E%3Cuse x='480' y='220' xlink:href='%23block'/%3E%3Cuse y='240' xlink:href='%23block'/%3E%3Cuse x='120' y='240' xlink:href='%23block'/%3E%3Cuse x='140' y='240' xlink:href='%23block'/%3E%3Cuse x='160' y='240' xlink:href='%23block'/%3E%3Cuse x='240' y='240' xlink:href='%23block'/%3E%3Cuse x='260' y='240' xlink:href='%23block'/%3E%3Cuse x='280' y='240' xlink:href='%23block'/%3E%3Cuse x='300' y='240' xlink:href='%23block'/%3E%3Cuse x='320' y='240' xlink:href='%23block'/%3E%3Cuse x='360' y='240' xlink:href='%23block'/%3E%3Cuse x='380' y='240' xlink:href='%23block'/%3E%3Cuse x='420' y='240' xlink:href='%23block'/%3E%3Cuse x='480' y='240' xlink:href='%23block'/%3E%3Cuse y='260' xlink:href='%23block'/%3E%3Cuse x='20' y='260' xlink:href='%23block'/%3E%3Cuse x='60' y='260' xlink:href='%23block'/%3E%3Cuse x='80' y='260' xlink:href='%23block'/%3E%3Cuse x='100' y='260' xlink:href='%23block'/%3E%3Cuse x='160' y='260' xlink:href='%23block'/%3E%3Cuse x='220' y='260' xlink:href='%23block'/%3E%3Cuse x='320' y='260' xlink:href='%23block'/%3E%3Cuse x='360' y='260' xlink:href='%23block'/%3E%3Cuse x='460' y='260' xlink:href='%23block'/%3E%3Cuse x='480' y='260' xlink:href='%23block'/%3E%3Cuse y='280' xlink:href='%23block'/%3E%3Cuse x='20' y='280' xlink:href='%23block'/%3E%3Cuse x='40' y='280' xlink:href='%23block'/%3E%3Cuse x='80' y='280' xlink:href='%23block'/%3E%3Cuse x='120' y='280' xlink:href='%23block'/%3E%3Cuse x='180' y='280' xlink:href='%23block'/%3E%3Cuse x='200' y='280' xlink:href='%23block'/%3E%3Cuse x='240' y='280' xlink:href='%23block'/%3E%3Cuse x='260' y='280' xlink:href='%23block'/%3E%3Cuse x='280' y='280' xlink:href='%23block'/%3E%3Cuse x='320' y='280' xlink:href='%23block'/%3E%3Cuse x='360' y='280' xlink:href='%23block'/%3E%3Cuse x='400' y='280' xlink:href='%23block'/%3E%3Cuse x='420' y='280' xlink:href='%23block'/%3E%3Cuse y='300' xlink:href='%23block'/%3E%3Cuse x='220' y='300' xlink:href='%23block'/%3E%3Cuse x='240' y='300' xlink:href='%23block'/%3E%3Cuse x='280' y='300' xlink:href='%23block'/%3E%3Cuse x='300' y='300' xlink:href='%23block'/%3E%3Cuse x='360' y='300' xlink:href='%23block'/%3E%3Cuse x='420' y='300' xlink:href='%23block'/%3E%3Cuse x='480' y='300' xlink:href='%23block'/%3E%3Cuse y='320' xlink:href='%23block'/%3E%3Cuse x='60' y='320' xlink:href='%23block'/%3E%3Cuse x='80' y='320' xlink:href='%23block'/%3E%3Cuse x='100' y='320' xlink:href='%23block'/%3E%3Cuse x='120' y='320' xlink:href='%23block'/%3E%3Cuse x='180' y='320' xlink:href='%23block'/%3E%3Cuse x='200' y='320' xlink:href='%23block'/%3E%3Cuse x='240' y='320' xlink:href='%23block'/%3E%3Cuse x='260' y='320' xlink:href='%23block'/%3E%3Cuse x='320' y='320' xlink:href='%23block'/%3E%3Cuse x='340' y='320' xlink:href='%23block'/%3E%3Cuse x='360' y='320' xlink:href='%23block'/%3E%3Cuse x='380' y='320' xlink:href='%23block'/%3E%3Cuse x='400' y='320' xlink:href='%23block'/%3E%3Cuse x='460' y='320' xlink:href='%23block'/%3E%3Cuse x='480' y='320' xlink:href='%23block'/%3E%3Cuse x='160' y='340' xlink:href='%23block'/%3E%3Cuse x='200' y='340' xlink:href='%23block'/%3E%3Cuse x='220' y='340' xlink:href='%23block'/%3E%3Cuse x='240' y='340' xlink:href='%23block'/%3E%3Cuse x='260' y='340' xlink:href='%23block'/%3E%3Cuse x='280' y='340' xlink:href='%23block'/%3E%3Cuse x='300' y='340' xlink:href='%23block'/%3E%3Cuse x='320' y='340' xlink:href='%23block'/%3E%3Cuse x='400' y='340' xlink:href='%23block'/%3E%3Cuse x='420' y='340' xlink:href='%23block'/%3E%3Cuse x='460' y='340' xlink:href='%23block'/%3E%3Cuse x='480' y='340' xlink:href='%23block'/%3E%3Cuse y='360' xlink:href='%23block'/%3E%3Cuse x='20' y='360' xlink:href='%23block'/%3E%3Cuse x='40' y='360' xlink:href='%23block'/%3E%3Cuse x='60' y='360' xlink:href='%23block'/%3E%3Cuse x='80' y='360' xlink:href='%23block'/%3E%3Cuse x='100' y='360' xlink:href='%23block'/%3E%3Cuse x='120' y='360' xlink:href='%23block'/%3E%3Cuse x='160' y='360' xlink:href='%23block'/%3E%3Cuse x='180' y='360' xlink:href='%23block'/%3E%3Cuse x='240' y='360' xlink:href='%23block'/%3E%3Cuse x='300' y='360' xlink:href='%23block'/%3E%3Cuse x='320' y='360' xlink:href='%23block'/%3E%3Cuse x='360' y='360' xlink:href='%23block'/%3E%3Cuse x='400' y='360' xlink:href='%23block'/%3E%3Cuse x='440' y='360' xlink:href='%23block'/%3E%3Cuse x='480' y='360' xlink:href='%23block'/%3E%3Cuse y='380' xlink:href='%23block'/%3E%3Cuse x='120' y='380' xlink:href='%23block'/%3E%3Cuse x='180' y='380' xlink:href='%23block'/%3E%3Cuse x='240' y='380' xlink:href='%23block'/%3E%3Cuse x='260' y='380' xlink:href='%23block'/%3E%3Cuse x='280' y='380' xlink:href='%23block'/%3E%3Cuse x='320' y='380' xlink:href='%23block'/%3E%3Cuse x='400' y='380' xlink:href='%23block'/%3E%3Cuse y='400' xlink:href='%23block'/%3E%3Cuse x='40' y='400' xlink:href='%23block'/%3E%3Cuse x='60' y='400' xlink:href='%23block'/%3E%3Cuse x='80' y='400' xlink:href='%23block'/%3E%3Cuse x='120' y='400' xlink:href='%23block'/%3E%3Cuse x='160' y='400' xlink:href='%23block'/%3E%3Cuse x='180' y='400' xlink:href='%23block'/%3E%3Cuse x='200' y='400' xlink:href='%23block'/%3E%3Cuse x='300' y='400' xlink:href='%23block'/%3E%3Cuse x='320' y='400' xlink:href='%23block'/%3E%3Cuse x='340' y='400' xlink:href='%23block'/%3E%3Cuse x='360' y='400' xlink:href='%23block'/%3E%3Cuse x='380' y='400' xlink:href='%23block'/%3E%3Cuse x='400' y='400' xlink:href='%23block'/%3E%3Cuse x='420' y='400' xlink:href='%23block'/%3E%3Cuse x='440' y='400' xlink:href='%23block'/%3E%3Cuse y='420' xlink:href='%23block'/%3E%3Cuse x='40' y='420' xlink:href='%23block'/%3E%3Cuse x='60' y='420' xlink:href='%23block'/%3E%3Cuse x='80' y='420' xlink:href='%23block'/%3E%3Cuse x='120' y='420' xlink:href='%23block'/%3E%3Cuse x='160' y='420' xlink:href='%23block'/%3E%3Cuse x='180' y='420' xlink:href='%23block'/%3E%3Cuse x='220' y='420' xlink:href='%23block'/%3E%3Cuse x='260' y='420' xlink:href='%23block'/%3E%3Cuse x='280' y='420' xlink:href='%23block'/%3E%3Cuse x='300' y='420' xlink:href='%23block'/%3E%3Cuse x='320' y='420' xlink:href='%23block'/%3E%3Cuse x='360' y='420' xlink:href='%23block'/%3E%3Cuse x='400' y='420' xlink:href='%23block'/%3E%3Cuse x='460' y='420' xlink:href='%23block'/%3E%3Cuse x='480' y='420' xlink:href='%23block'/%3E%3Cuse y='440' xlink:href='%23block'/%3E%3Cuse x='40' y='440' xlink:href='%23block'/%3E%3Cuse x='60' y='440' xlink:href='%23block'/%3E%3Cuse x='80' y='440' xlink:href='%23block'/%3E%3Cuse x='120' y='440' xlink:href='%23block'/%3E%3Cuse x='180' y='440' xlink:href='%23block'/%3E%3Cuse x='300' y='440' xlink:href='%23block'/%3E%3Cuse x='340' y='440' xlink:href='%23block'/%3E%3Cuse x='360' y='440' xlink:href='%23block'/%3E%3Cuse x='400' y='440' xlink:href='%23block'/%3E%3Cuse x='440' y='440' xlink:href='%23block'/%3E%3Cuse x='460' y='440' xlink:href='%23block'/%3E%3Cuse x='480' y='440' xlink:href='%23block'/%3E%3Cuse y='460' xlink:href='%23block'/%3E%3Cuse x='120' y='460' xlink:href='%23block'/%3E%3Cuse x='200' y='460' xlink:href='%23block'/%3E%3Cuse x='260' y='460' xlink:href='%23block'/%3E%3Cuse x='280' y='460' xlink:href='%23block'/%3E%3Cuse x='320' y='460' xlink:href='%23block'/%3E%3Cuse x='380' y='460' xlink:href='%23block'/%3E%3Cuse y='480' xlink:href='%23block'/%3E%3Cuse x='20' y='480' xlink:href='%23block'/%3E%3Cuse x='40' y='480' xlink:href='%23block'/%3E%3Cuse x='60' y='480' xlink:href='%23block'/%3E%3Cuse x='80' y='480' xlink:href='%23block'/%3E%3Cuse x='100' y='480' xlink:href='%23block'/%3E%3Cuse x='120' y='480' xlink:href='%23block'/%3E%3Cuse x='240' y='480' xlink:href='%23block'/%3E%3Cuse x='340' y='480' xlink:href='%23block'/%3E%3Cuse x='420' y='480' xlink:href='%23block'/%3E%3Cuse x='480' y='480' xlink:href='%23block'/%3E%3C/svg%3E");
}

#mainSwiper.swiper {
  height: 584px;
}

.intro__item {
  position: relative;
  background: #005CBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro__item .intro__item--img, .intro__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__item h2 {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-style: normal;
  font-size: 36px;
  color: #ffffff;
  z-index: 100;
  max-width: 650px;
  margin-left: 58px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 28px;
}

.main-home {
  padding: 0 54px 50px 54px;
}

.main__logo {
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-box.logo {
  width: 277px;
  height: auto;
}
.icon-box.logo img {
  width: 100%;
  height: 100%;
}

.main__logo--date {
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
}
.main__logo--date .time {
  font-size: 57px;
}
.main__logo--date .date {
  font-size: 26px;
}

.menu-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-auto-rows: minmax(285px, auto);
  grid-auto-flow: dense;
}

.menu__item {
  border-radius: 15px;
}
.menu__item.wild {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.menu__item.blue-gr {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.02%, #00A6DD), color-stop(83.15%, #005CBC));
  background: -o-linear-gradient(left, #00A6DD 14.02%, #005CBC 83.15%);
  background: linear-gradient(90deg, #00A6DD 14.02%, #005CBC 83.15%);
}
.menu__item.purple-gr {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.12%, #D61A7B), color-stop(85.88%, #823584));
  background: -o-linear-gradient(left, #D61A7B 14.12%, #823584 85.88%);
  background: linear-gradient(90deg, #D61A7B 14.12%, #823584 85.88%);
}
.menu__item.orange-gr {
  background: -webkit-gradient(linear, left top, right top, color-stop(14.02%, #FFA618), color-stop(85.05%, #E24001));
  background: -o-linear-gradient(left, #FFA618 14.02%, #E24001 85.05%);
  background: linear-gradient(90deg, #FFA618 14.02%, #E24001 85.05%);
}
.menu__item p {
  font-family: "Gilroy-Medium", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #ffffff;
}

.main-menu__url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 42px 35px 22px 35px;
}

.menu-icon {
  height: 70px;
}
.menu-icon svg {
  height: 100%;
  width: auto;
  fill: #ffffff;
}

.qr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 167px;
}
.qr-block__inner {
  max-width: 105px;
}
.qr-block__img {
  width: 105px;
  height: 105px;
}
.qr-block__img img, .qr-block__img picture {
  width: 100%;
  height: 100%;
}

.main-user {
  padding: 83px 83px 0;
}

.user-data {
  width: 100%;
  min-height: 778px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
  background: url("../images/blue-lines.png") no-repeat #f8f8f8;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  padding: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 43% 1fr;
  grid-template-columns: 43% 1fr;
  -ms-grid-rows: 62% 1fr;
  grid-template-rows: 62% 1fr;
  grid-column-gap: 39px;
  grid-row-gap: 38px;
}

.user-data__item {
  background: rgba(255, 255, 255, 0.83);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 15px;
  overflow: hidden;
}
.user-data__item.avatar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 23px;
}
.user-data__item.avatar img, .user-data__item.avatar picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-data__item.name {
  background: unset;
  padding: 35px 0;
}
.user-data__item.name .name__form {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 23px;
}
.user-data__item.name .name__form label {
  margin-left: 30px;
}
.user-data__item.name .name__form input {
  width: 100%;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0.62);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 15px;
  border: none;
  outline: none;
  margin-top: 12px;
}
.user-data__item.data {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  padding: 35px 31px 35px 35px;
}
.user-data__item .data__form--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 23px;
  color: #555555;
}
.user-data__item .data__form--item input {
  width: 70%;
  background: #E7E7E7;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 23px;
}

.data__form--item + .data__form--item {
  margin-top: 15px;
}

.main-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding: 0 155px;
}

.main-payment__item {
  min-height: 305px;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.main-payment__item img, .main-payment__item .payment__item--img {
  position: absolute;
  top: 0;
  height: 100%;
}
.main-payment__item.cart img, .main-payment__item.cart .payment__item--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  left: 0;
}
.main-payment__item.qr img, .main-payment__item.qr .payment__item--img {
  right: 0;
}

.payment__item--inner {
  height: 100%;
  width: 40%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.payment__item--inner h2 {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 35px;
  color: #555555;
  margin-bottom: 22px;
}

.main-print {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-downloadFile {
  background: #f8f8f8;
  -webkit-box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
          box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  padding: 38px 52px 38px;
  margin-bottom: 80px;
}

.block-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.block-input input.field-downloadFile::-webkit-file-upload-button {
  padding: 16px 36px;
  margin-right: 15px;
}

.label-downloadFile {
  width: 50%;
}
.label-downloadFile input {
  min-height: 70px;
  width: 100%;
}

.label-fileName {
  position: relative;
  width: 50%;
}
.label-fileName:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 12px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5 24.5L32 32' stroke='%23CFCFCF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 14.8571C2 21.9579 7.75634 27.7143 14.8571 27.7143C18.4136 27.7143 21.6331 26.2702 23.9606 23.9364C26.2803 21.6108 27.7143 18.4014 27.7143 14.8571C27.7143 7.75634 21.9579 2 14.8571 2C7.75634 2 2 7.75634 2 14.8571Z' stroke='%23CFCFCF' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
}
.label-fileName input {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 16px 48px 16px 18px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
}

.block-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-submit p {
  margin-left: 10px;
}
.block-submit .classicBtn {
  padding: 16px 36px;
}

.filesList {
  background: #f8f8f8;
  -webkit-box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
          box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  padding: 31px 50px;
  margin-bottom: 80px;
  min-height: 393px;
}
.filesList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1F1F1;
  border-radius: 10px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 24px;
  margin: 14px 0;
  padding: 14px 25px 14px 19px;
}
.filesList__item span {
  border-bottom: 2px solid #555555;
}
.listItem__btns {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}
.filesList__item .printDoc {
  width: 34px;
  height: 34px;
  background-color: inherit;
  border: none;
  outline: unset;
  padding: 0;
  cursor: pointer;
}

.scanner {
  text-align: center;
}
.scanner .classicBtn {
  background-color: #3A80F7;
  color: #ffffff;
}

.main-manual {
  padding: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-manual__title {
  margin-left: 24px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: #555555;
}

.accordion {
  margin-bottom: 133px;
}
.accordion__item {
  margin: 30px 0;
  background: #FFFFFF;
  border-radius: 21px;
  -webkit-box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.16);
}
.accordion-item__trigger {
  padding: 12px 24px;
  background: #F1F1F1;
  border-radius: 21px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 27.8405px;
  line-height: 32px;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.accordion-item__title {
  border-bottom: 2px solid #555555;
}
.accordion-item__content {
  padding: 19px 24px 24px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #555555;
  display: none;
  height: auto;
  -webkit-transition: display;
  -o-transition: display;
  transition: display;
}
.accordion-item--active .accordion-item__content {
  display: block;
}

.accordion-item__icon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.accordion-item__icon svg {
  width: 100%;
  height: 100%;
}
.accordion-item__icon.arrow-rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ask-quest .main-manual__title {
  margin-bottom: 13px;
}
.ask-quest__form input {
  width: 100%;
  background: #D6E9F1;
  border-radius: 21px;
  border: none;
  outline: none;
  padding: 12px 24px;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 27.8405px;
  line-height: 32px;
  color: #555555;
}

.main-transmission {
  padding: 0 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.transmission-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 21px;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.transmission-menu__item {
  width: 48%;
  min-height: 327px;
  -webkit-box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}
.transmission-menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 41px 28px 26px 42px;
  background: #F2F2F2;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #555555;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.transmission-menu__item a > * {
  z-index: 10;
}
.transmission-menu__item a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(14.02%, #FFA618), color-stop(85.05%, #E24001));
  background: -o-linear-gradient(left, #FFA618 14.02%, #E24001 85.05%);
  background: linear-gradient(90deg, #FFA618 14.02%, #E24001 85.05%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: -1;
  overflow: hidden;
}
.transmission-menu__item a:hover {
  color: #ffffff;
  background: unset;
}
.transmission-menu__item a:hover:before {
  opacity: 1;
}
.transmission-menu__item a:hover .menu-item__icon svg {
  fill: #ffffff;
}

.menu-item__icon {
  display: block;
  width: 95px;
  height: 95px;
}
.menu-item__icon svg {
  width: 100%;
  height: 100%;
  fill: #000000;
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.main-info {
  padding: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-info__title {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #19488B;
  text-transform: uppercase;
}
.main-info__desc {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #555555;
  margin-bottom: 50px;
}
.main-info__desc > p {
  margin: 18px 0;
}
.main-info__img {
  background: inherit;
  -webkit-box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
          box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  padding: 40px;
}
.main-info__img .info__schema {
  height: 350px;
  position: relative;
}
.main-info__img .info__schema img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-consultation {
  padding: 103px 113px;
}
.main-consultation__image {
  min-height: 1120px;
  position: relative;
  border: 3px solid #D8D8D8;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 33px;
}
.main-consultation__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-consultation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main.main-qr {
  padding: 150px;
}

.main-qr__title {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: #555555;
  margin-bottom: 35px;
}
.main-qr__camera {
  width: 778px;
  min-height: 728px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.22);
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  margin-bottom: 70px;
}
.main-qr__camera #video {
  width: 100%;
  height: 100%;
}
.main-qr__buttons {
  margin-bottom: 70px;
}
.main-qr #sourceSelectPanel {
  margin-bottom: 70px;
}
.main-qr #resetButton.classicBtn {
  margin-left: 30px;
}